* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 0px;
}

h3 {
    padding: 5px 0px;
}

h3,
p {
    color: gray;
}